block header
  header
    .container.header
      h1 MyApp
      i#open_menu.fas.fa-bars
    nav#menu
      ul.shown
        li: a(href="#") Menu
        li: a(href="#") Menu
        li: a(href="#") Menu
      i#close_menu.fas.fa-times