extends layout

block content
  section.new
    h2 Create
    .container
      form.new(method="post" action="/create")
        div.new Name
          input.item(type="text" name="name")
        div.new Age
          input.item(type="text" name="age")
        div.new Weight
          input.item(type="text" name="weight")
        div.new Height
          input.item(type="text", name="height")
        div.new.create
          input(type="hidden" name="_csrf" value=`${ csrftoken }`)
          input(type="submit" value="Create")

      p.go_back: a(href="/find") Go back
