:root {
  --bg_color: #f8f8f8;
  --bd_color: #333333;
  --white: #fff; }

body {
  background-color: var(--bg_color);
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  color: var(--bd_color);
  box-sizing: border-box; }

.container {
  width: 90%;
  margin: 0 auto; }

h2 {
  box-sizing: border-box;
  text-align: center;
  font-weight: normal;
  padding-top: 20px; }

header .container.header {
  display: grid;
  grid-template: 80px / 1fr 1fr; }
  header .container.header h1 {
    justify-self: start;
    align-items: center;
    font-size: 28px;
    font-weight: normal; }
  header .container.header #open_menu {
    justify-self: end;
    align-self: center;
    font-size: 24px;
    cursor: pointer; }

header nav#menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--white);
  display: none; }
  header nav#menu.shown {
    display: grid;
    grid-template: 80px / 5fr 1fr; }
    header nav#menu.shown ul {
      justify-self: end;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 30px; }
      header nav#menu.shown ul li {
        line-height: 2;
        display: inline-block;
        width: 60px;
        text-align: center; }
        header nav#menu.shown ul li a {
          text-decoration: none;
          padding: 30px;
          color: inherit; }
    header nav#menu.shown i#close_menu {
      justify-self: end;
      align-items: center;
      padding: 30px;
      color: red; }

section.toppo {
  background-color: #fff; }
  section.toppo ul {
    list-style-type: none;
    display: block;
    width: 90%;
    background-color: rgba(211, 207, 207, 0.527);
    margin: 0 auto; }
  section.toppo a {
    text-decoration: none; }
  section.toppo .list {
    display: grid;
    grid-template: 40px / 1fr 60px 60px;
    justify-items: center;
    align-items: center; }
  section.toppo .edit {
    display: block;
    padding: 0px 10px;
    border-radius: 5px;
    background-color: #78e278;
    color: var(--white); }
  section.toppo .name {
    display: block;
    justify-self: start; }
  section.toppo .delete {
    display: block;
    cursor: pointer; }
  section.toppo .create {
    width: 90%;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px 5px;
    background-color: rgba(211, 207, 207, 0.527); }
    section.toppo .create a {
      text-align: center;
      cursor: pointer;
      display: block;
      width: 100%;
      text-decoration: none; }

section.new {
  background-color: #fff; }
  section.new .item {
    width: 300px; }
  section.new form.new {
    padding: 20px 20px;
    background-color: rgba(211, 207, 207, 0.527); }
  section.new div.new {
    margin: 0 auto;
    text-align: center;
    width: 300px;
    padding: 5px 5px; }
    section.new div.new.create input {
      cursor: pointer;
      display: block;
      margin: 0 auto;
      padding: 20px 20px;
      background-color: #fff;
      color: #333; }

.go_back {
  width: 90%;
  margin: 10px auto; }
  .go_back a {
    margin: 0 auto;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    display: block;
    text-decoration: none;
    background-color: #333;
    color: #fff; }

/*# sourceMappingURL=style.css.map */